P1_FlightProject/P1_FlightProject/SOA/Schemas/Empleado.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/P1_FlightProject/P1_FlightProject/Empleado"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="Nombre" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="TipoBillete" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>