P2_ComprasService/P2_ComprasService/SOA/Schemas/Vendedor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/P2_ComprasService/P2_ComprasService/Vendedor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="VendedorRequest">
		<complexType>
			<sequence>
				<element name="Precio" type="double"/>
			</sequence>
		</complexType>
	</element>
	<element name="VendedorResponse">
		<complexType>
			<sequence>
				<element name="Precio" type="double"/>
			</sequence>
		</complexType>
	</element>
</schema>